[submodule "packages/app"]
	path = packages/app
	url = https://github.com/onPoster/app.git
[submodule "packages/subgraph"]
	path = packages/subgraph
	url = https://github.com/onPoster/subgraph.git
[submodule "packages/contract"]
	path = packages/contract
	url = https://github.com/onPoster/contract.git
